@using Khabarho.ViewModels.PostViewModels
@using System.Security.Claims

@{
    ViewBag.Title = "title";
    var post = ViewBag.Post as ShowPostViewModel;
    Layout = "_Layout";
    ViewData["PostId"] = post?.Id;
}

@if (post != null)
{
    <div>
        <header>
            <a href="">
                <span>@post.AuthorName</span>
            </a>
            <span>@post.CreatedDate</span>
        </header>
        <h1>
            <span>@post.Title</span>
        </h1>
        <ul class="d-flex p-0" style="list-style: none">
            @if (post.Categories != null)
            {
                @foreach (var category in post.Categories)
                {
                    <li class="mr-2">
                        <a href="">@category.Title</a>
                    </li>
                }
            }
        </ul>
        <figure>
            <img src="~/images/@post.ImagePath"/>
        </figure>
        <div>
            @post.Text
        </div>
        <br>
        <h5>Нравится @post.NumberOfLikes людям</h5>
        <br>
        <div class="bg-white">
            <div class="d-flex flex-row fs-12 mb-1">
                <div class="like cursor"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="ml-1">Лайк</span></div>
                <div class="like cursor ml-2"><i class="fa fa-commenting-o" aria-hidden="true"></i><span class="ml-1">Комментарий</span></div>
            </div>
            @await Html.PartialAsync("~/Views/Comment/CreateComment.cshtml", ViewData)
        </div>
        <h4>Комментарии @post.NumberOfComments</h4>
        <br>
        @foreach (var comment in post.Comments)
        {
            <div class="d-flex flex-column">
                <div>
                    <form id="formComment">
                        <b>@comment.User.UserName</b><span> @comment.CreatedDate</span>
                        <p>
                            @comment.Text
                        </p>    
                        <input id="textComment" value="@comment.Text" type="hidden"/>
                        
                        @if (comment.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                        {
                            <input id="commentId" value="@comment.Id" type="hidden"/>
                            <input id="userId" value="@comment.UserId" type="hidden"/>
                            <input id="postId" value="@comment.PostId" type="hidden"/>
                            <div class="mt-2 text-right">
                                <button class="btn btn-primary btn-sm shadow-none fa fa-pencil" type="submit"></button>
                            </div>
                            <div class="mt-2 text-right">
                                <button class="btn btn-primary btn-sm shadow-none fa fa-trash" type="submit" onclick="DeleteComment()"></button>
                            </div>
                        }
                    </form>
                </div>
            </div>
        }
    </div>

@section Scripts
{
    <script type="text/javascript">
    function DeleteComment() {
           const id = $("#commentId").val();
           const userId = $("#userId").val();
           const postId = $("#postId").val();
           const text =  $("#textComment").val();
           const commentModel = {
             id : id,
             userId : userId,
             postId : postId,
             text : text,
           };
            $.ajax({
                type:"post",
                url: "/Comment/DeleteComment",
                dataType : "json",
                data : {model : commentModel},
                success : function (result, status, xhr) {
                console.log(result);
                },
                error : function(xhr, status, error) {
                console.log(xhr);
                }      
             })
           }
    </script>
}
}