@model ICollection<Khabarho.ViewModels.CategoryViewModels.CategoryViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdmin";
}

<div>
  <input type="button" class="btn btn-success" value="Добавить новую категорию" onclick="location.href='@Url.Action("Create", "Category")'"/>
</div>
<br>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Название</th>
    <th scope="col">Дата создания</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  @foreach (var category in Model)
  {
    <tbody>
    <tr>
      <td>@category.Id</td>
      <td>@category.Title</td>
      <td>@category.CreatedDate</td>
      <td>
        <input type="button" class="btn btn-primary btn-sm" value="Редактировать" onclick="location.href='@Url.Action("Update", "Category")?id=@category.Id'">
      </td>
      <td>
        <input type="button" class="btn btn-danger btn-sm" value="Удалить" onclick="location.href='@Url.Action("Delete", "Category")?id=@category.Id'">
      </td>
      <td>
        <input type="button" class="btn btn-secondary btn-sm" value="Просмотреть" onclick="location.href='@Url.Action("GetById", "Category")?id=@category.Id'">
      </td>
    </tr>
    </tbody>
  }
</table>
