@using Khabarho.ViewModels
@{
    ViewData["Title"] = "Home Page";
    var types = ViewBag.Types as List<TypeViewModel>;
    var posts = ViewBag.Posts as List<PostViewModel>;

}
<div class="title_main">
    <div class="container_post">
        <h3>Все потоки</h3>
    </div>
</div>

<div class="filter">
    <div class="container_post">
        <ul class="filter_container">

            @{
                System.Diagnostics.Debug.Assert(types != null, nameof(types) + " != null");
            }
            @foreach (var type in types)
            {
                <li>
                    <a href="">@type.Title</a>
                </li>
            }
        </ul>
    </div>
    <div class="container_post">
    @foreach (var post in posts)
    {
        <div class="card_post">
            <h1>
                <a href='@Url.Action("ShowPost", "Post")?id=@post.Id'>
                    @post.Title
                </a>
            </h1>
            <div class="img_post">
                <img src="@post.ImagePath" alt="photo">
            </div>
            <p>
                @if (post.Text.Length <= 700)
                {
                    @post.Text
                }
                else
                {
                    @string.Concat(post.Text.Substring(0, 700), "...")
                }
            </p>
            <a href= '@Url.Action("ShowPost", "Post")?id=@post.Id' class="btn_detail">
                Читать далее
            </a>
        </div>
    }
    </div>
</div>