@model ICollection<Khabarho.ViewModels.TypeViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdmin";
}

<div class="mt-4 container_post">
    <div>
      <input type="button" class="btn btn-success" value="Добавить новый тип" onclick="location.href='@Url.Action("Create", "Type")'"/>
    </div>
    <br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>
        <th scope="col">Дата создания</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
      </thead>
      @foreach (var type in Model)
      {
        <tbody>
        <tr>
          <td>@type.Id</td>
          <td>@type.Title</td>
          <td>@type.CreatedDate</td>
          <td>
            <input type="button" class="btn btn-primary btn-sm" value="Редактировать" onclick="location.href='@Url.Action("Update", "Type")?id=@type.Id'">
          </td>
          <td>
            <input type="button" class="btn btn-danger btn-sm" value="Удалить" onclick="location.href='@Url.Action("Delete", "Type")?id=@type.Id'">
          </td>
          <td>
            <input type="button" class="btn btn-secondary btn-sm" value="Просмотреть" onclick="location.href='@Url.Action("GetById", "Type")?id=@type.Id'">
          </td>
        </tr>
        </tbody>
      }
    </table>
</div>